@media (min-width: 1024px) {
  .container-about {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .col-left,
  .col-right {
    width: 50%;
    padding: 24px 0 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .profile-card-presentation {
    position: sticky;
    top: 24px;
  }
}

.container-about {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  opacity: 0;
  animation: fadeAnimation 0.7s ease-in-out forwards;
  animation-delay: 0.1s;
}

.col-right {
  margin-top: 16px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white);
  border: 1px solid var(--black);
  margin-bottom: 16px;
}

.profile-card-presentation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white);
  border: 1px solid var(--black);
  margin-bottom: 16px;
}

.card-details,
.card-title-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-icon {
  display: flex;
  gap: 10px;
}

.container-icon {
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 8px;
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 12px;
  font-size: 13px;
}

.container-icon img {
  height: 16px;
  width: 16px;
}

.city-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.email-button,
.linkedin-button,
.github-button,
.cv-button {
  border: 1px solid #0000001a;
  border-radius: 8px;
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.email-button:hover {
  color: var(--white);
  background-color: #69cc7a;
}

.linkedin-button:hover {
  color: var(--white);
  background-color: #58befe;
}

.github-button:hover {
  color: var(--white);
  background-color: #ee7271;
}

.cv-button:hover {
  color: var(--white);
  background-color: #f69851;
}

@keyframes fadeAnimation {
  to {
    opacity: 1;
  }
}
