@media (min-width: 810px) {
  .container-projects {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .card-projects {
    margin-bottom: 0px !important;
  }
}

.container-projects {
  padding: 16px;
  opacity: 0;
  animation: fadeAnimation 0.7s ease-in-out forwards;
  animation-delay: 0.1s;
}

.card-projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  background-color: var(--white);
  border: 1px solid var(--black);
  margin-bottom: 16px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-projects img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.04665 / 1;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.main-details {
  display: flex;
  gap: 10px;
}

.container-details {
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 8px;
  color: var(--grey);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 12px;
  font-size: 13px;
}

.details {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.card-projects:hover {
  transform: scale(1) rotate(-1deg) translateZ(0px);
}

@keyframes fadeAnimation {
  to {
    opacity: 1;
  }
}
